.myProjects__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1em;
  animation-play-state: running;
  animation: Animate 1.5s linear alternate;
}

.myProjects__Animation {
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
}

.myProjects__canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.myProjects__container h2 {
  margin-bottom: 2em;
  font-size: 2em;
  color: aliceblue;
  text-shadow: 0 -0.1em 0.4em rgba(109, 0, 233, 0.838),
    0 0.1em 0.4em rgb(0, 189, 189);
  z-index: 5;
}
.myProjectSlider__container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 100%;
  max-height: 300px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myProjectSlider__imgContainer {
  position: absolute;
  width: 25%;
  min-width: 250px;
  height: 100%;
  min-height: 280px;
  overflow: hidden;
  border-radius: 0.8em;
  box-shadow: 0em 0.3em 1em 0.3em rgba(0, 76, 78, 0.851),
    0em -0.5em 1em 0.3em rgba(65, 0, 135, 0.706);
  transition: transform 0.8s ease;
}

.myProjectSlider__imgContainer img {
  width: 100%;
  height: 100%;
}

.myProjectSlider__imgContainer span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.416);
  cursor: pointer;
  transition: 1s;
}

.myProjectSlider__imgContainer span:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.portal__contianer {
  margin-top: 2em;
  margin-bottom: -5em;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 200px;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tu;
}

.portal__animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 1em;
  scale: 1;
  border-radius: 50%;
  z-index: 2;
  transition: 1s;
}
.portal__animation p {
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.portal__animation span {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  scale: 1.2;
  filter: blur(10px);
  border-radius: 50%;
  background: linear-gradient(75deg, rgb(39, 0, 101), rgba(1, 197, 207, 0.835));
  transition: 0.5s;
}

@media (max-width: 850px) {
  .myProjects__container {
    height: 100%;
    padding-top: 6em;
    overflow: hidden;
    overflow-y: auto;
    justify-content: start;
  }
  .myProjects__container h2 {
    margin: 0;
  }
  .myProjectSlider__container {
    width: 100%;
    height: auto;
    max-height: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .myProjectSlider__imgContainer {
    width: 300px;
    height: 300px;
    position: unset;
    scale: 0.8;
    transform: translateX(0%) !important;
  }
  .myProjectSlider__imgContainer span {
    background-color: transparent;
  }
  .portal__contianer {
    position: relative;
    margin-bottom: 0;
  }
  .myProjects__canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 650px) {
  .myProjects__container {
    height: 100%;
    padding-top: 6em;
    overflow: hidden;
    overflow-y: auto;
    justify-content: start;
  }
  .myProjects__container h2 {
    margin: 0;
  }
  .myProjectSlider__container {
    width: 100%;
    height: auto;
    max-height: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .myProjectSlider__imgContainer {
    width: 300px;
    height: 300px;
    position: unset;
    scale: 0.8;
    transform: translateX(0%) !important;
  }
  .myProjectSlider__imgContainer span {
    background-color: transparent;
  }
  .portal__contianer {
    position: relative;
    margin-bottom: 0;
  }
  .myProjects__canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
