.myProjects__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  padding: 1em;
  animation-play-state: running;
  animation: Animate 1.5s linear alternate;
  gap: 2em;
}

.myProjects__Animation {
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
}

.myProjects__canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.myProjects__container h2 {
  margin-bottom: 2em;
  font-size: 2em;
  color: aliceblue;
  text-shadow: 0 -0.1em 0.4em rgba(109, 0, 233, 0.838),
    0 0.1em 0.4em rgb(0, 189, 189);
  z-index: 5;
}
.projects__informationProjects {
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.projects__oneProjects {
  position: relative;
  width: 100%;
  max-width: 24em;
  height: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: rgb(11, 8, 26);
  border-radius: 1em;
  padding-bottom: 3em;
}

.oneProjects2 {
  transform: translateX(-100%);
}

.oneProjects3 {
  transform: translateX(-200%);
}

.projects__oneProjects img {
  width: 100%;
  height: 13.5em;
  border-radius: 0.5em;
}

.projects__oneProjects h3 {
  font-size: 1.6em;
  width: 100%;
  font-weight: 500;
  color: #8938da;
}
.projects__oneProjects p {
  margin-top: -1em;
  font-size: 0.7em;
  font-weight: 200;
  color: #8154ae;
}

.projects__oneProjects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.projects__oneProjects li {
  font-size: 0.8em;
  font-weight: 200;
  color: #5fbabc;
}

.projects__gitHub {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0.5em;
  right: 0.5em;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.841);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.projects__gitHub:hover {
  background-color: rgba(255, 255, 255, 0.842);
  color: black;
  transition: 0.5s;
}
.projects__gitHub i {
  font-size: 2em;
}

.projects_link {
  position: absolute;
  bottom: 1.5em;
  color: #e42a52;
  cursor: pointer;
}

.projects_link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6f0ad4;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.projects_link:hover::after {
  transform: scaleX(1);
}

.projects_link:hover {
  color: #6f0ad4;
  text-shadow: 0em 0.2em 0.5em #7c1cdc;
  transition: 0.5s;
}

.project__imageQr {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.789);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.project__imageQr img {
  width: 300px;
  height: 300px;
}

.project__imageQr p {
  cursor: pointer;
  font-size: 1.8em;
  color: #e42a52;
}

.project__imageQr p:hover {
  color: #00fbff;
}

.portal__contianer {
  margin-top: 2em;
  margin-bottom: -5em;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 200px;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tu;
}

.portal__animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 1em;
  margin-bottom: 1em;
  scale: 1;
  border-radius: 50%;
  z-index: 2;
  transition: 1s;
}
.portal__animation p {
  cursor: pointer;
  color: white;
  font-weight: 800;
}

.portal__animation span {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  scale: 1.2;
  filter: blur(10px);
  border-radius: 50%;
  background: linear-gradient(75deg, rgb(39, 0, 101), rgba(1, 197, 207, 0.835));
  transition: 0.5s;
}

@media (max-width: 850px) {
  .myProjects__container {
    padding-top: 6em;
  }
  .myProjects__container h2 {
    margin: 0;
  }
  .myProjectSlider__container {
    width: 100%;
    height: auto;
    max-height: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .myProjectSlider__imgContainer {
    width: 300px;
    height: 300px;
    position: unset;
    scale: 0.8;
    transform: translateX(0%) !important;
  }
  .myProjectSlider__imgContainer span {
    background-color: transparent;
  }
  .portal__contianer {
    position: relative;
    margin-bottom: 0;
  }
  .myProjects__canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 650px) {
  .myProjects__container {
    padding-top: 6em;
  }
  .myProjects__container h2 {
    margin: 0;
  }
  .myProjectSlider__container {
    width: 100%;
    height: auto;
    max-height: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .myProjectSlider__imgContainer {
    width: 300px;
    height: 300px;
    position: unset;
    scale: 0.8;
    transform: translateX(0%) !important;
  }
  .myProjectSlider__imgContainer span {
    background-color: transparent;
  }
  .portal__contianer {
    position: relative;
    margin-bottom: 0;
  }
  .myProjects__canvas {
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
