.mySkills__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1em;
  animation-play-state: running;
  animation: Animate 1.5s linear alternate;
}
.mySkills__Animation {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: 0.5s;
}

.mySkills__container img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.mySkills__span {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.306);
  z-index: -1;
}

.skills__data {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
.skills__data h2 {
  font-size: 2em;
  color: #02ffff;
  text-shadow: 0 0 0.2em rgba(179, 0, 255, 0.838),
    0 0 0.4em rgba(9, 225, 225, 0.892);
}

.skills__ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.skills__li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-size: 1.25em;
  font-weight: 600;
  z-index: 6;
}

.skills__li span {
  position: absolute;
  top: 1em;
  z-index: 1;
  padding: 1em;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: linear-gradient(45deg, rgb(197, 2, 193), rgb(34, 0, 138));
  scale: 2.3;
  filter: blur(15px);
  box-shadow: 1em 0.5em 2em 1em rgb(1, 141, 124),
    0.5em 0em 2em 0.5em rgb(147, 3, 180);
}
.skills__li i {
  position: relative;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: linear-gradient(
    45deg,
    rgba(146, 0, 144, 0.939),
    rgba(25, 0, 101, 0.839)
  );
  padding: 0.2em;
  font-size: 3em;
  z-index: 2;
  transition: 0.5s;
}

.skills__li i:hover {
  scale: 1.2;
  background: linear-gradient(
    45deg,
    rgba(214, 3, 210, 0.939),
    rgba(41, 0, 162, 0.839)
  );
  transition: 0.5s;
}
.skills__li img {
  position: static;
  width: 60%;
  height: 60%;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: linear-gradient(
    45deg,
    rgba(146, 0, 144, 0.939),
    rgba(25, 0, 101, 0.839)
  );
  padding: 0.38em;
  font-size: 3em;
  z-index: 1;
  transition: 0.5s;
}

.skills__li img:hover {
  scale: 1.2;
  background: linear-gradient(
    45deg,
    rgba(214, 3, 210, 0.939),
    rgba(41, 0, 162, 0.839)
  );
  transition: 0.5s;
}

.javascript {
  color: rgb(230, 215, 0);
}

.html5 {
  color: rgb(1, 64, 238);
}
.css3 {
  color: rgb(217, 65, 0);
}

.react {
  color: #00e5e9;
}

.angular {
  color: rgb(205, 5, 5);
}

.bootstrap {
  color: #6f0ad4;
}

.nodejs {
  color: rgb(0, 185, 25);
}

.postgresql {
  color: rgb(0, 183, 255);
}
.blender {
  color: rgb(225, 75, 5);
}

.php {
  color: rgb(8, 0, 251);
}

.spaceCraft__container {
  position: absolute;
  bottom: 3%;
  left: 3%;
  width: 100%;
  max-width: 500px;
  height: 400px;
  z-index: 3;
  color: palevioletred;
}

.eart__contianer {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 100px;
  height: 100px;
  z-index: 3;
  border-radius: 50%;
  transition: 1s;
}

.eart__animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
  margin-top: 1em;
  margin-left: -0.8em;
  padding: 0.2em 1em 0.2em 1em;
  scale: 1;
  transform: rotateZ(30deg);
  border-radius: 50%;
  z-index: 2;
  transition: 1s;
}

.eart__animation p {
  cursor: pointer;
  color: #02ffff;
  text-shadow: 0 0 0.2em rgba(179, 0, 255, 0.838),
    0 0 0.4em rgba(9, 225, 225, 0.892);
  font-weight: 800;
}

.eart__animation span {
  position: absolute;
  width: 60%;
  height: 100%;
  z-index: -1;
  scale: 1.5;
  filter: blur(8px);
  border-radius: 50%;
  background: linear-gradient(
    75deg,
    rgba(145, 1, 164, 0.638),
    rgba(45, 0, 179, 0.626)
  );
  transition: 0.5s;
}

@media (max-width: 850px) {
  .mySkills__container {
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 6em;
    justify-content: start;
  }
  .mySkills__container img {
    top: 0;
  }
  .mySkills__span {
    top: 0;
    background-color: rgba(0, 0, 0, 0.748);
  }
  .skills__data {
    max-width: 500px;
    gap: 3em;
  }
  .skills__data h2 {
    z-index: 5;
  }
  .skills__ul {
    font-size: 0.8em;
  }
  .skills__li img {
    width: 43%;
    height: 43%;
  }
  .spaceCraft__container div {
    pointer-events: none !important;
  }
  .eart__contianer {
    display: none;
  }
  .spaceCraft__container {
    bottom: 0;
  }
}

@media (max-height: 650px) {
  .mySkills__container {
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5em;
    justify-content: start;
  }
  .mySkills__container img {
    top: 0;
  }
  .mySkills__span {
    top: 0;
    background-color: rgba(0, 0, 0, 0.748);
  }
  .skills__data {
    max-width: 500px;
    gap: 3em;
  }
  .skills__data h2 {
    z-index: 5;
  }
  .skills__ul {
    font-size: 0.8em;
  }
  .skills__li img {
    width: 43%;
    height: 43%;
  }
  .spaceCraft__container div {
    pointer-events: none !important;
  }
  .eart__contianer {
    display: none;
  }
  .spaceCraft__container {
    bottom: 0;
  }
}
